body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
#clock{
    font-family: 'Orbitron', sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: #32cd32;
}